{"swagger":"2.0","info":{"title":"customer","description":"An API Builder service","version":"1.0.0"},"host":"apicentral.preview.apicentral-k8s.axwaytest.net","basePath":"/api","paths":{"/customer/{id}":{"post":{"responses":{"201":{"description":"Created","schema":{"type":"object","properties":{}}}},"parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/customer"},"x-examples":{"application/json":{"customerid":"2322434","name":"laura","address":"342 Sandstone Dr","phone":"555-555-5555"}}},{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]},"head":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{}}}},"parameters":[{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]},"options":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{}},"headers":{"allow":{"type":"string","default":"OPTIONS, GET, HEAD, DELETE, POST, PUT"}}}},"parameters":[{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]},"put":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{}}}},"parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/customer"},"x-examples":{"application/json":{"customerid":"234234","name":"Laura Heritage","address":"33 Park Ave","phone":"555-555-5555"}}},{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]},"delete":{"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{}}}},"parameters":[{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]},"parameters":[{"name":"id","in":"path","type":"string","required":true}],"get":{"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/customer"}}},"parameters":[{"in":"path","name":"id","type":"string","required":true,"default":"234234"}]}},"/customer":{"get":{"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/customercollection"}}}},"post":{"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/customer"}}},"parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/customer"},"x-examples":{"application/json":{"customerid":"esse officia","name":"deserunt veniam Ut labore","address":"veniam","phone":"sint et non consectetur incididunt"}}}]}}},"definitions":{"customer":{"type":"object","description":"Customer","title":"customer","properties":{"customerid":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"}}},"customercollection":{"type":"object","title":"customercollection","properties":{"customer":{"type":"array","items":{"$ref":"#/definitions/customer"}}}}},"schemes":["http"]}